<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Registered Data</title>
</head>
<body>
<div align="center">
  <h1>Сотрудник</h1>
  <div>
    <p>Email: <strong th:text="${employee.email}"></strong></p>
    <p>Имя: <strong th:text="${employee.name}"></strong></p>
    <p>Фамилия: <strong th:text="${employee.surname}"></strong></p>
    <p>Отчество: <strong th:text="${employee.patronymic}"></strong></p>
    <p>Пол: <strong th:text="${employee.gender.value}"></strong></p>
    <p>Дата рождения: <strong th:text="${employee.birthday}"></strong></p>
    <p>Пароль: <strong th:text="${employee.password}"></strong></p>
  </div>
</div>
</body>
</html>