<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registered Data</title>
</head>
<body>
<div align="center">
    <H2>Результат</H2>
    <table>
        <tbody>
        <tr>
            <td><strong>Email:</strong></td>
            <td><span th:text="${employee.email}"></span></td>
        </tr>
        <tr>
            <td><strong>Имя:</strong></td>
            <td><span th:text="${employee.name}"></span></td>
        </tr>
        <tr>
            <td><strong>Фамилия:</strong></td>
            <td><span th:text="${employee.surname}"></span></td>
        </tr>
        <tr>
            <td><strong>Отчество:</strong></td>
            <td><span th:text="${employee.patronymic}"></span></td>
        </tr>
        <tr>
            <td><strong>Пол:</strong></td>
            <td><span th:text="${employee.gender.value}"></span></td>
        </tr>
        <tr>
            <td><strong>Дата рождения:</strong></td>
            <td><span th:text="${employee.birthday.format('dd-MM-yyyy')}"></span></td>
        </tr>
        <tr>
            <td><strong>Пароль:</strong></td>
            <td><span th:text="${employee.password}"></span></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;<a th:href="@{register}"
                                     class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;
                новый сотрудник
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>